body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    background-image: url("./img/bg-image-50.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .pb-10 {
    padding-bottom: 10rem !important;
  }
  .h10 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .form-label {
    color: gray;
  }
  
  .cursor-pointer {
    cursor: pointer;
    :hover {
      cursor: pointer;
    }
  }

  .table {
    th, td {
      background-color: transparent;
    }
  }

  .fixed-btn {
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    :hover {
      color: black;
      font-size: calc(1.375rem + 1.5vw) !important;
    }
    :active {
      color: black;
      font-size: calc(1rem + 1.5vw) !important;
    }
    
  }

  #search {
    transition: height 0.3s ease-in-out; /* Set the desired animation duration and easing function */
    height: 0;
    overflow: hidden;
  }

// .modal:nth-of-type(even) {
//     z-index: 1052 !important;
// }
// .modal-backdrop.show:nth-of-type(even) {
//     z-index: 1051 !important;
// }